:root {
    --blue-color:#0040DD;
    --white-color:#fff;
    --gray-color : #646163;
    --black-color : #1c1c1e;
}
/* manrope-regular - latin */
@font-face {
    font-display: swap; 
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    src: url(../font/manrope-v15-latin-regular.woff2) format('woff2');
}
/* manrope-500 - latin */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    src: url(../font/manrope-v15-latin-500.woff2) format('woff2');
}
/* manrope-700 - latin */
@font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url(../font/manrope-v15-latin-700.woff2) format('woff2');
}
body{
    background-color:#1C1C1E;
    font-family: 'Manrope';
    color: var(--white-color);
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
 .services::-webkit-scrollbar {
    height: 2px;
    margin-bottom: 30px;
  }
  
  .services::-webkit-scrollbar-track {
    background-color: var(--black-color);
  }
  .services::-webkit-scrollbar-thumb {
    background: var(--white-color); 
    border-radius: 10px;   
  }
  .services {
    width: 100%;
    overflow-x: scroll;
  }